<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="Gestion des activites bancaires"/>
    <meta name="author" content="mballoSoft"/>
    <title>Add | Compte</title>
    <link rel="stylesheet" href="{$url_base}/public/css/client.css"/>
    <link rel="stylesheet" href="{$url_base}/public/css/main.css"/>
    <link rel="stylesheet" href="{$url_base}/public/css/compte.css"/>
</head>
<body>
<header>
    <nav>
        <h1>Banque Du <span style="color: aliceblue;">Peuple</span></h1>
    </nav>
</header>

<!--=========Debut sideBarre============-->
<aside class="sidebarre">
    <div class="flex">
        <img src="{$url_base}/public/image/profil.jpg" class="profil" alt="Banque du Peuple" srcset=""/>
        <p class="mail">xywzt@gmail.com</p>
        <div class="contener" style="background-color: rgb(85, 163, 231); color: white;">
            <a href="{$url_base}/welcome/index">Dashboard</a>
        </div>
        <div class="contener">
            <a href="{$url_base}/compte/index">Compte</a>
        </div>
        <div class="contener">
            <a href="{$url_base}/client/index">Client</a>
        </div>
        <div class="contener">
            Logout
        </div>
    </div>
</aside>
<!--=========Fin sideBarre============-->

<!--=========Contenu du body==========-->
<article class="content">
    <fieldset>
        <legend>Creation Compte</legend>
        <form action="{$url_base}Compte/add" class="form" method="post">
            <div class="row">
                <select name="typecp" class="selectcmpt" id="typecp" onchange="frais()">
                    <option value="0">--Type Compte--</option>
                    {if $listFrais != null}
                        {foreach from=$listFrais item=frais}
                            <option value="{$frais->getId()}">{$frais->getLibelle()}</option>
                        {/foreach}
                    {/if}
                </select>
                <select name="client" id="client" class="slct">
                    <option value="0">--------------Clients--------------</option>
                    <option value="0"><b>------List Clients Morals-------</b></option>
                    {if $listFrais != null}
                        {foreach from=$listClientM item=cltMoral}
                            <option value="{$cltMoral->getId()}">{$cltMoral->getId()}-{$cltMoral->getNom()}</option>
                        {/foreach}
                    {/if}
                    <option value="0"><b>------List Clients Physiques------</b></option>
                    {if $listClientP != null}
                        {foreach from=$listClientP item=cltPhysique}
                            <option value="{$cltPhysique->getId()}">{$cltPhysique->getId()}-{$cltPhysique->getPrenom()} {$cltPhysique->getNom()}</option>
                        {/foreach}
                    {/if}
                </select>
            </div>
            <div class="row">
                <label for="frai">Frais:<b id="frai"></b></label>
            </div>
            <div class="row">
                <button type="button" class="valider" onclick="post()">Ajouter</button>
                <button type="reset" class="annuler">Annuler</button>
            </div>
        </form>
    </fieldset>
</article>
<script src="{$url_base}/public/js/compte.js"></script>
<script src="{$url_base}/public/js/main.js"></script>
</body>
</html>
